
# folders
__pycache__
.ipynb_checkpoints
data/*
!data/patient_info.csv

# files
.DS_Store
patient_to_id.csv

node_modules/
models/
logs/


results/*
old/*
results_deneme/*
outputs/

src/training/*.sh
README_old.md