
# folders
__pycache__
.ipynb_checkpoints
data/*
!data/patient_info.csv

# files
.DS_Store
patient_to_id.csv
scripts/*.ipynb
scripts/*.py
!scripts/image_tomo.ipynb
!scripts/get_image.py
!scripts/define_crop_coord.ipynb
!scripts/crop_image.ipynb
!scripts/crop_pano_image.ipynb
!scripts/pano_rename.ipynb
!scripts/set_class_size.ipynb
!scripts/organize_dir.ipynb

scripts/dl/*
!scripts/dl/data_setup.py
!scripts/dl/model_builder.py
!scripts/dl/utils.py
!scripts/dl/train.ipynb